In [3]:
from pandas import Series, DataFrame
import numpy as np

In [7]:
df = DataFrame([1000, 2000, 3000, 4000])
print(df)
 
df = DataFrame([1000, 2000, 3000, 4000], index=["i1", "i2", "i3", "i4"])
print(df)
 
df = DataFrame({"c1":[1000, 2000, 3000, 4000]}, index=["i1", "i2", "i3", "i4"])
print(df)

print("-" * 100 + "{[1]}") # ----- #
 
# -- 여러 컬럼 데이터프레임 생성
df2 = DataFrame({"c1":[1,2,3], "c2":[11,22,33], "c3":[111,222,333]})
print (df2)
 
df2 = DataFrame({"c1":[1,2,3], "c2":[11,22,33], "c3":[111,222,333]}, index=["i1","i2","i3"])
print (df2)
 
print("-" * 100 + "{[2]}") # ----- #

      0
0  1000
1  2000
2  3000
3  4000
       0
i1  1000
i2  2000
i3  3000
i4  4000
      c1
i1  1000
i2  2000
i3  3000
i4  4000
----------------------------------------------------------------------------------------------------{[1]}
   c1  c2   c3
0   1  11  111
1   2  22  222
2   3  33  333
    c1  c2   c3
i1   1  11  111
i2   2  22  222
i3   3  33  333
----------------------------------------------------------------------------------------------------{[2]}

In [14]:
df2 = DataFrame({"c1":[1,2,3], "c2":[11,22,33], "c3":[111,222,333]}, index=["i1","i2","i3"])
 
# -- 컬럼값 전체 변경
df2["c3"] = df2["c1"] + df2["c2"]
print (df2)
 
df2["c3"] = 111
print (df2)
 
print("-" * 100 + "{[18]}") # ----- #
 
# -- 컬럼 추가 후 데이터 입력
df2["newC4"] = ["a","b","c"]
print (df2)
 
# -- 컬럼 데이터 수정
df2["newC4"] = [111,222,333]
print (df2)
 
df2.ix[1] = 2000
print (df2)
 
print("-" * 100 + "{[19]}")

    c1  c2  c3
i1   1  11  12
i2   2  22  24
i3   3  33  36
    c1  c2   c3
i1   1  11  111
i2   2  22  111
i3   3  33  111
----------------------------------------------------------------------------------------------------{[18]}
    c1  c2   c3 newC4
i1   1  11  111     a
i2   2  22  111     b
i3   3  33  111     c
    c1  c2   c3  newC4
i1   1  11  111    111
i2   2  22  111    222
i3   3  33  111    333
      c1    c2    c3  newC4
i1     1    11   111    111
i2  2000  2000  2000   2000
i3     3    33   111    333
----------------------------------------------------------------------------------------------------{[19]}

/home/ejjchl77/eunjivenv/lib/python3.5/site-packages/ipykernel_launcher.py:20: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [15]:
df = DataFrame([1000, 2000, 3000, 4000], index=["i1","i2","i3","i4"])
df2 = DataFrame({"c1":[1,2,3], "c2":[11,22,33], "c3":[111,222,333]}, index=["i1","i2","i3"])
 
# -- 데이터 추출 : 컬럼단위
print (df2[["c1","c3"]])
print (df2[["c2"]] )        # 인덱스와 컬럼명까지 출력
print (df2["c2"] )

    c1   c3
i1   1  111
i2   2  222
i3   3  333
    c2
i1  11
i2  22
i3  33
i1    11
i2    22
i3    33
Name: c2, dtype: int64